[user]
	name = nosu23
	email = raidzimmer52@gmail.com
        signingkey = A77319C2C126A9BF
[core]
	excludesfile = /Users/nosu/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = ~/work/git/ghq
[alias]
    co = checkout
    cob = checkout -b
    br = branch
    st = status
    ft = fetch
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
	template = /Users/nosu/.stCommitMsg
